<div class="a">
  <mat-icon>error</mat-icon>
</div>
<mat-drawer-container class="main-container">
  <mat-drawer-content>Main Container</mat-drawer-content>
</mat-drawer-container>

<mat-sidenav-container class="side-container">
  <mat-sidenav-content>
    <h2>Chat With Aflac</h2>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="footer">
  <mat-sidenav-content>Footer </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="header">
  <mat-sidenav-content>Header </mat-sidenav-content>
</mat-sidenav-container>
