div{
  top: 103px;
left: -1px;
width: 1378px;
height: 896px;
/* UI Properties */
background: #3996c5 0% 0% no-repeat padding-box;
opacity: 1;
}
mat-icon
{
  top: 103px;
left: 0px;
width: 1800px;
height: 57px;
/* UI Properties */
background: #ECFAFF 0% 0% no-repeat padding-box;
opacity: 1;
}