.main-container {
  top: 3px;
  left: -1px;
  width: 1391px;
  height: 896px;
  /* UI Properties */
  background: #85b4cc 0% 0% no-repeat padding-box;
  opacity: 1;
}

.side-container {
  /* Layout Properties */
  top: -896px;
  left: 1377px;
  width: 423px;
  height: 896px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #cc3535 0% 0% no-repeat padding-box;
  opacity: 1;
}
.a {
  top: 300px;
  left: 0px;
  width: 1800px;
  height: 57px;
  /* UI Properties */
  background: #315f70 0% 0% no-repeat padding-box;
  opacity: 1;
}

icon {
  top: 122px;
  left: 194px;
  width: 934px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/22px Proxima Nova;
  letter-spacing: 0px;
  color: #0070a9;
  opacity: 1;
}
p {
  top: 240px;
  left: 90px;
  width: 1145px;
  height: 50px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/28px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
h1 {
  top: 184px;
  left: 90px;
  width: 297px;
  height: 36px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 32px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
h2 {
  top: 337px;
  left: 91px;
  width: 1220px;
  height: 40px;
  /* UI Properties */
  background: #0070a9 0% 0% no-repeat padding-box;
  opacity: 1;
}
mat-header-cell {
  top: 387px;
  left: 591px;
  width: 127px;
  height: 18px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 16px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
datasource {
  /* Layout Properties */
  top: 337px;
  left: 91px;
  width: 1220px;
  height: 275px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #888888;
  opacity: 1;
}
datasource {
  top: 822px;
  left: 394px;
  width: 50px;
  height: 18px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
