.notification {
  position: absolute;
  top: -4vh;
  left: 0px;
  width: 207vh;
  height: 45px;
  /* UI Properties */
  background: #ecfaff 0% 0% no-repeat padding-box;
  opacity: 1;
  border-bottom: 1px solid #00a7e1;
}
.title > h1 {
  position: absolute;
  top: 2vh;
  left: 0px;
  width: 297px;
  height: 36px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 32px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  padding: 10px;
  margin: 20px 25px 50px 75px;
}
.title > p {
  position: absolute;
  top: 8vh;
  left: 0px;
  width: 750px;
  height: 100px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 15px/18px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  padding: 10px;
  margin: 20px 25px 50px 75px;
  bottom: 10vh;
}
.main-container {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 70vw;
  height: 84.2vh;
  /* UI Properties */

  opacity: 1;
  background: #f6f8f9 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #0070a9;
}
.side-container {
  position: absolute;
  top: 100px;
  left: 960px;
  width: 29.3vw;
  height: 84.2vh;
  opacity: 1;
}
.right-side {
  position: absolute;
  top: 91.5vh;
  left: 955px;
  width: 29.5vw;
  height: 50px;
  /* UI Properties */
  background: #0070a9 0% 0% no-repeat padding-box;
  border: 2px solid #cccccc;
  opacity: 1;
  color: #383535;
}
.b {
  position: absolute;
  top: 4vh;
  left: 250px;
  width: 21px;
  height: 20vh;

  /* UI Properties */
  opacity: 1;
}
.side-container > h1 {
  position: relative;
  top: 5vh;
  left: 5vh;
  width: 68px;
  height: 27px;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

.border {
  position: absolute;
  top: 17vh;
  left: 5vh;
  width: 50vh;
  border-bottom: 2px solid #ac9f9f;
}
.right-side > h1 {
  position: absolute;
  top: 0vh;
  width: 170px;
  height: 29px;
  left: 10px;
  /* UI Properties */
  text-align: center;
  font: normal normal normal 26px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 5px;
  height: 6px;
  opacity: 1;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 10vh;
  left: 330px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 10vh;
  left: 285px;
}

.browser > h2 {
  position: relative;
  top: 7vh;
  left: 5vh;
  width: 250px;
  height: 16px;
  padding-top: 15px;
  /* UI Properties */
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 14px/18px Proxima Nova;
  letter-spacing: 0px;
  color: #0070a9;
  opacity: 1;
}
.browser > p {
  position: relative;
  top: 6vh;
  left: 30px;
  width: 315px;
  height: 69px;

  font: normal normal normal 14px/18px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  margin-bottom: 5px;
}

.div > side-container {
  height: 1000px;
}
