.main-container {
  top: 15vh;
  left: 0px;
  width: 75vw;
  height: 80vh;
  /* UI Properties */

  opacity: 1;
  position: absolute;
  border: 2px solid #7c0e0e;
}

.side-container {
  position: absolute;
  top: 15vh;
  left: 1025px;
  width: 25vw;
  height: 80vh;
  border: 2px solid #190e7c;
  opacity: 1;
}
.footer {
  position: absolute;
  top: 600px;
  width: 100vw;
  height: 5vh;
  bottom: 0px;
  left: 0px;
  border: 2px solid #973764;
}
.header {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100vw;
  height: 10vh;
  bottom: 0px;
  border: 2px solid #1ab13d;
}

.a {
  top: 10vh;
  left: 0px;
  width: 100vw;
  height: 5vh;
  /* UI Properties */
  background: #315f70 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

p {
  top: 100px;
  left: 200px;
  width: 950px;
  height: 50px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/28px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  padding: 10px;
}
h1 {
  top: 100px;
  left: 90px;
  width: 297px;
  height: 36px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 32px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  padding: 10px;
}
h2 {
  top: 952px;
  left: 1401px;
  width: 170px;
  height: 29px;
  /* UI Properties */

  text-align: center;
  font: normal normal normal 26px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
