div {
  top: 103px;
  left: -1px;
  width: 1378px;
  height: 896px;
  /* UI Properties */
  background: #3996c5 0% 0% no-repeat padding-box;
  opacity: 1;
}
mat-icon {
  top: 103px;
  left: 0px;
  width: 1800px;
  height: 57px;
  /* UI Properties */
  background: #ecfaff 0% 0% no-repeat padding-box;
  opacity: 1;
}
icon {
  top: 119px;
  left: 150px;
  width: 24px;
  height: 24px;
  /* UI Properties */
  background: #0070a9 0% 0% no-repeat padding-box;
  opacity: 1;
}
p {
  top: 240px;
  left: 90px;
  width: 1145px;
  height: 50px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/28px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
h1 {
  top: 184px;
  left: 90px;
  width: 297px;
  height: 36px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 32px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
h2 {
  top: 337px;
  left: 91px;
  width: 1220px;
  height: 40px;
  /* UI Properties */
  background: #0070a9 0% 0% no-repeat padding-box;
  opacity: 1;
}
mat-header-cell {
  top: 387px;
  left: 591px;
  width: 127px;
  height: 18px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 16px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
datasource {
  /* Layout Properties */
  top: 337px;
  left: 91px;
  width: 1220px;
  height: 275px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #888888;
  opacity: 1;
}
datasource {
  top: 822px;
  left: 394px;
  width: 50px;
  height: 18px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
