<div class="header1"></div>
<div class="main-container">
  <div class="notification"></div>
  <div class="title">
    <h1>Account At Glance</h1>
    <p>
      NOTE: The oldest outstanding invoice must be paid first. The premium
      amount billed for some policies may not correctly reflect the number of
      deductions indicated on the invoice of the policies were issued during the
      billing period.
    </p>
  </div>
</div>

<div class="side-container">
  <h1>NEWS</h1>
  <div class="border"></div>
  <div class="arrow right" onclick="scrollright()"></div>

  <div class="arrow left" onclick="sayHello()"></div>

  <div class="browser">
    <h2>Celebrate Comebacks</h2>
    <p>
      Aflac inspires Comebacks. Have you made a Comeback <br />from an illness,
      injury, or something else?Share your story
    </p>

    <h2>Enhancement to Business Services</h2>
    <p>
      Based on your feedback, please click here to see our new enhancements to
      Business Services.
    </p>

    <h2>Enhancement to Business Services</h2>
    <p>
      Based on your feedback, please click here to see our new enhancements to
      Business Services.
    </p>
  </div>
  <div class="right-side">
    <h1>Chat with Aflac</h1>
  </div>
</div>

<div class="footer1"></div>
