<div class="a">
  <mat-icon>error</mat-icon>
</div>
<mat-drawer-container class="main-container">
  <mat-drawer-content>
    <h1>Account At Glance</h1>
    <p>
      NOTE: The oldest outstanding invoice must be paid first. The premium
      amount billed for some policies may not correctly reflect the number of
      deductions indicated on the invoice of the policies were issued during the
      billing period.
    </p>
  </mat-drawer-content>
</mat-drawer-container>

<mat-sidenav-container class="side-container">
  <mat-sidenav-content>
    <h2>Chat With Aflac</h2>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="footer">
  <mat-sidenav-content>Footer </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="header">
  <mat-sidenav-content>Header </mat-sidenav-content>
</mat-sidenav-container>
