.header1 {
  top: 42px;
  left: 6px;
  width: 1800px;
  height: 57px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.notification {
  top: 103px;
  left: 0px;
  width: 1800px;
  height: 57px;
  /* UI Properties */
  background: #ecfaff 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #00a7e1;
  opacity: 1;
}
.title > h1 {
  position: absolute;
  top: 184px;
  left: 90px;
  width: 297px;
  height: 36px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 32px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
.title > p {
  position: absolute;
  top: 240px;
  left: 90px;
  width: 1145px;
  height: 50px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 20px/28px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
.main-container {
  top: 103px;
  left: -1px;
  width: 1378px;
  height: 896px;
  /* UI Properties */
  background: #f6f8f9 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #0070a9;
  opacity: 1;
}
.side-container {
  position: absolute;
  top: 100px;
  left: 970px;
  width: 29.3vw;
  height: 84.2vh;
  opacity: 1;
}
.right-side {
  position: absolute;
  top: 790px;
  left: 420px;
  width: 423px;
  height: 65px;
  /* UI Properties */
  background: #0070a9 0% 0% no-repeat padding-box;
  border: 2px solid #ac9999;
  opacity: 1;
}
.b {
  position: absolute;
  top: 4vh;
  left: 250px;
  width: 21px;
  height: 20vh;

  /* UI Properties */
  opacity: 1;
}
.side-container > h1 {
  position: absolute;
  top: 50px;
  left: 470px;
  width: 68px;
  height: 27px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 24px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}

.border {
  position: absolute;
  top: 9vh;
  left: 470px;
  width: 319px;
  height: 0px;
  /* UI Properties */
  border: 1px solid #cccccc;
  opacity: 1;
}
.right-side > h1 {
  position: absolute;
  top: 0vh;
  width: 170px;
  height: 29px;
  left: 10px;
  /* UI Properties */
  text-align: center;
  font: normal normal normal 26px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 5px;
  height: 6px;
  opacity: 1;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 65px;
  left: 775px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 65px;
  left: 720px;
}

.browser > h2 {
  position: relative;
  top: 130px;
  left: 470px;
  width: 319px;
  height: 16px;
  padding-top: 15px;
  /* UI Properties */
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 18px/22px Proxima Nova;
  letter-spacing: 0px;
  color: #0070a9;
  opacity: 1;
}
.browser > p {
  position: relative;
  top: 130px;
  left: 470px;
  width: 300px;
  height: 69px;

  font: normal normal normal 16px/18px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  margin-bottom: 5px;
}
.footer1 {
  top: 999px;
  left: 0px;
  width: 1800px;
  height: 238px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.div > side-container {
  height: 1000px;
}
.table1 {
  position: absolute;
  top: 337px;
  left: 91px;
  width: 1220px;
  height: 275px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #888888;
  opacity: 1;
}
.table2 {
  position: absolute;
  top: 631px;
  left: 91px;
  width: 1220px;
  height: 275px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #888888;
  opacity: 1;
}
.tableheader1 {
  top: 337px;
  left: 91px;
  width: 1220px;
  height: 40px;
  /* UI Properties */
  background: #0070a9 0% 0% no-repeat padding-box;
  opacity: 1;
}
.tableheader2 {
  top: 631px;
  left: 91px;
  width: 1220px;
  height: 40px;
  /* UI Properties */
  background: #0070a9 0% 0% no-repeat padding-box;
  opacity: 1;
}
.headername1 > h1 {
  position: absolute;
  top: 335px;
  left: 121px;
  width: 211px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 20px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.headername2 > h1 {
  position: absolute;
  top: 630px;
  left: 121px;
  width: 320px;
  height: 22px;
  /* UI Properties */

  text-align: left;
  text-decoration: underline;
  font: normal normal bold 20px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
